.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem 4rem;
  border-bottom: 1px solid black;
  align-items: center;
}

.teste {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 4rem;
  padding: 3rem 0;
  /* margin: 0 4rem 4rem 4rem; */
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleContainer h3 {
  margin: 0;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .titleContainer {
    /* display: flex; */
    /* align-items: center;
    justify-content: space-between; */
    flex-direction: column;
  }
}
